.footerBar {
	background-color: $footer-bg;
	color: $footer-fg;
	text-align: right;
	
	margin-bottom: 5em;

	p {
		font-size: 12px;
		margin: 0;
		padding: 0.5em 0.5em 0.25em 0;
	}
	
	a {
		text-decoration: none;
		color: #fff;
	}
	a:visited {
		color: #fff;
	}
	a:hover {
		text-decoration: underline;
	}
}
